<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_campus_root" name="Campus" sequence="10"/>
    <menuitem id="menu_campus_operations" name="Students" parent ="menu_campus_root" sequence="10"/>
    <menuitem id="menu_campus_lecture" name="Lectures" parent ="menu_campus_root" sequence="10"/>
    <menuitem id="menu_campus_course" name="Courses" parent ="menu_campus_root" sequence="10"/>
</odoo>